<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FuelPHP Framework</title>
		<?php echo Asset::css('bootstrap.css'); ?>
	</head>
	<body>

		{{ _header}} 


		{{> foo }}

		{{> aHead }}

		{{# is_admin }}
			{{> _admin_header }}
		{{/ is_admin }}

		{{^ is_admin }}
			{{> _header }}
		{{/ is_admin }}


		{{#bug}}
		{{/bug}}

		{{#articles}}
			<article>
				<h2><strong>{{title}}</strong></h2>
				<li><a href="{{url}}">{{name}}</a></li>
			</article>
		{{/articles}}

		{{#empty}}
			<p>The list is empty.</p>
		{{/empty}}
	</body>
</html>
