
<div> hello.mustache </div>

<h3>{{ title }}</h3>

{{#articles}}
	<article>
		<h2><strong>{{title}}</strong></h2>
		<li><a href="{{url}}">{{name}}</a></li>
	</article>
{{/articles}}


it is form <br />




<h1>it is form</h1>

{{{my_form}}}

{{#form}}

	{{{open}}}
	{{#fields}}
		{{{name}}}
		<input type="submit" />
	{{/fields}}
{{/form}}
