<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>FuelPHP Framework</title>
		<?php echo Asset::css('bootstrap.css'); ?>
	</head>
	<body>
		layouts 

		<header>
		{{ partials.header }} 
		</header>


		{{{ content }}}


		<footer>
        {{> footer }}
		</footer>
	</body>
</html>
